# ====== SERVIDOR ======
PORT=3000
NODE_ENV=production
SESSION_SECRET=troque_isto_por_uma_chave_super_secreta_aleatoria

# ====== DONO DO BOT ======
OWNER_NAME=Dark Net
OWNER_NUMBER=244945280380
BOT_NAME=DARK BOT
BOT_NUMBER=244949926074

# Credenciais iniciais do dono (criadas no 1º start)
OWNER_USERNAME=darknet
OWNER_PASSWORD=sua_senha_forte_aqui

# ====== MONGODB ATLAS ======
MONGODB_URI=mongodb+srv://USUARIO:SENHA@cluster0.xxxx.mongodb.net/darkbot?retryWrites=true&w=majority

# ====== CLOUDINARY ======
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=sua_api_secret

# ====== URL pública ======
APP_URL=https://dark-bot.onrender.com
