  <!-- Socket.IO local (do servidor) -->
  <script src="/socket.io/socket.io.js" onerror="console.warn('Socket.IO local não carregou, usando polling')"></script>
  <script src="/js/app.js"></script>
</body>
</html>
